@{
    ViewBag.Title = "Index";
}
<h1>
    Magazine Style</h1>
<div class="one-third">
    <div class="heading_bg">
        <h2>
            New Magazine</h2>
    </div>
    <img src="../../Content/img/demo/magazine1.jpg" alt="">
    <ul class="post_meta" style="margin: 0">
        <li class="post_meta_admin"><a href="#">Admin</a></li>
        <li class="post_meta_date"><a href="#">2012-02-21</a></li>
        <li class="post_meta_comments"><a href="#">12</a></li>
    </ul>
    <p>
        Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus
        ait est amet consensit cellula rei civibus in modo ad nomine.</p>
</div>
<div class="one-third">
    <div class="heading_bg">
        <h2>
            Lorem Ipsum</h2>
    </div>
    <img src="../../Content/img/demo/magazine2.jpg" alt="">
    <ul class="post_meta" style="margin: 0">
        <li class="post_meta_admin"><a href="#">Admin</a></li>
        <li class="post_meta_date"><a href="#">2012-02-21</a></li>
        <li class="post_meta_comments"><a href="#">12</a></li>
    </ul>
    <p>
        Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus
        ait est amet consensit cellula rei civibus in modo ad nomine.</p>
</div>
<div class="one-third last">
    <div class="heading_bg">
        <h2>
            Caelo Dicit</h2>
    </div>
    <img src="../../Content/img/demo/magazine3.jpg" alt="">
    <ul class="post_meta" style="margin: 0">
        <li class="post_meta_admin"><a href="#">Admin</a></li>
        <li class="post_meta_date"><a href="#">2012-02-21</a></li>
        <li class="post_meta_comments"><a href="#">12</a></li>
    </ul>
    <p>
        Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus
        ait est amet consensit cellula rei civibus in modo ad nomine.</p>
</div>
<!-- ######################## new line ######################## -->
<div class="one-third">
    <div class="heading_bg">
        <h2>
            Copenhagen</h2>
    </div>
    <img src="../../Content/img/demo/magazine4.jpg" alt="">
    <ul class="post_meta" style="margin: 0">
        <li class="post_meta_admin"><a href="#">Admin</a></li>
        <li class="post_meta_date"><a href="#">2012-02-21</a></li>
        <li class="post_meta_comments"><a href="#">12</a></li>
    </ul>
    <p>
        Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus
        ait est amet consensit cellula rei civibus in modo ad nomine.</p>
</div>
<div class="one-third">
    <div class="heading_bg">
        <h2>
            Birds</h2>
    </div>
    <img src="../../Content/img/demo/magazine5.jpg" alt="">
    <ul class="post_meta" style="margin: 0">
        <li class="post_meta_admin"><a href="#">Admin</a></li>
        <li class="post_meta_date"><a href="#">2012-02-21</a></li>
        <li class="post_meta_comments"><a href="#">12</a></li>
    </ul>
    <p>
        Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus
        ait est amet consensit cellula rei civibus in modo ad nomine.</p>
</div>
<div class="one-third last">
    <div class="heading_bg">
        <h2>
            Norwegian Fjords</h2>
    </div>
    <img src="../../Content/img/demo/magazine6.jpg" alt="">
    <ul class="post_meta" style="margin: 0">
        <li class="post_meta_admin"><a href="#">Admin</a></li>
        <li class="post_meta_date"><a href="#">2012-02-21</a></li>
        <li class="post_meta_comments"><a href="#">12</a></li>
    </ul>
    <p>
        Perquiramus atque ut casus tui ex quae ad te ad suis caelo dicit hoc. Tempore percussus
        ait est amet consensit cellula rei civibus in modo ad nomine.</p>
</div>
<div style="clear: both; height: 40px">
</div>
