@{
    ViewBag.Title = "PersonnelList";
    <link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'
        rel='stylesheet' type='text/css' />
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/menu/css/simple_menu.css" />
    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />
    <!-- JS Files -->
    <script type="text/javascript" src="../../Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/js/custom.js"></script>
    <script type="text/javascript" src="../../Content/js/slides/slides.min.jquery.js"></script>
    <script type="text/javascript" src="../../Content/js/cycle-slider/cycle.js"></script>
    <script type="text/javascript" src="../../Content/js/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="../../Content/js/tabify/jquery.tabify.js"></script>
    <script type="text/javascript" src="../../Content/js/prettyPhoto/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="../../Content/js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="../../Content/js/scrolltop/scrolltopcontrol.js"></script>
    <script type="text/javascript" src="../../Content/js/portfolio/filterable.js"></script>
    <script type="text/javascript" src="../../Content/js/modernizr/modernizr-2.0.3.js"></script>
    <script type="text/javascript" src="../../Content/js/easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../../Content/js/kwicks/jquery.kwicks-1.5.1.pack.js"></script>
    <script type="text/javascript" src="../../Content/js/swfobject/swfobject.js"></script>
}
<div id="portfolio">
    <ul id="filterable">
        <li class="first">
            <h5>
                Sort by:</h5>
        </li>
        <li class="current"><a class="all" href="#all">All</a></li>
        <li><a class="web" href="#web">Webdesign</a></li>
        <li><a class="logos" href="#logos">Logo</a></li>
        <li><a class="branding" href="#branding">Branding</a></li>
        <li><a class="video" href="#video">Video</a></li>
    </ul>
    <!--END filtering-nav-->
    <div class="portfolio-container" id="columns">
        <ul>
            <li class="one-fourth web">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Worpdress Design</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth logos">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Logo Design</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth video">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Watch Video</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth web">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Wordpress Master</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth logos">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Endless Logo Design</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth web">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Worpdress Widgets</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth web">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Magento Development</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth web">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Joomla Shopping</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth branding">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">T-Shirts Designs</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth video">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Youtube Video</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth branding">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Brand Everything</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
            <li class="one-fourth video">
                <p>
                    <a title="" href="../../Content/img/demo/slide_2.jpg" class="portfolio-item-preview" data-rel="prettyPhoto">
                        <img src="../../Content/img/portfolio/portfolio-img-01.jpg" alt="" width="210" height="145" class="portfolio-img pretty-box"></a>
                </p>
                <h4>
                    <a href="#">Another Video</a></h4>
                <p>
                    Lorem ipsum dolor sit amet, tollite fit manibus individuationis omnibus civitas
                    ad quia.
                </p>
            </li>
        </ul>
        <!--END ul-->
    </div>
    <!--END portfolio-wrap-->
</div>
<div style="clear: both; height: 40px">
</div>
