body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.page
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
