@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="../../Content/css/nivo-slider.css" type="text/css" media="screen" />
    <link href="../../Content/contact-form/css/style.css" media="screen" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/contact-form/css/uniform.css" media="screen" rel="stylesheet"
        type="text/css" />
}
<h1>
    登录须知
</h1>
<div class="one-half">
    <div class="heading_bg">
        <h2>
            管理员登录</h2>
    </div>
    <p>
        <strong>游客请返回</strong>
        <br>
        新管理员增加请联系站长
        <br>
        或者联系邮箱x344527085@outlook.com
    </p>
</div>
<div class="one-half last">
    <form action="#" class="TTWForm" method="post">
    <div id="field1-container" class="field f_50">
        <label for="field1">
            用户名
        </label>
        <input name="userName" id="field1" type="text">
    </div>
    <div id="field2-container" class="field f_50">
        <label for="field2">
            密码
        </label>
        <input name="password" id="field2" type="text">
    </div>
    <div id="form-submit" class="field f_100 clearfix submit">
        <input value="登录" type="submit">
    </div>
    </form>
</div>
<div style="clear: both; height: 40px">
</div>
