USE [L.NENU.ZZX]
GO
/****** Object:  Table [dbo].[ShowInfo]    Script Date: 04/15/2016 18:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShowTitle] [nvarchar](100) NULL,
	[CreateTime] [nvarchar](30) NULL,
	[ShowTime] [nvarchar](20) NULL,
	[Intro] [nvarchar](200) NULL,
	[HtmlUrl] [nvarchar](100) NULL,
	[ImgUrl] [nvarchar](200) NULL,
	[Remarks] [nvarchar](200) NULL,
 CONSTRAINT [PK_ShowInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShowInfo] ON
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (1, N'20160414格子的声音日记————主播格子', N'2016-04-14', N'32''06''''', N'介绍: 嗬哟，艾薇巴蒂，还记得我吗？我是格子宝宝啊！（捂脸被室友拖走）这是我的声音日记，希望能用声音记录青春，记录岁月，记录下我们的美好。本期的话题是成长，来吧，一起走进格子宝宝有态度的声音日记吧！', N'http://www.lizhi.fm/201106/2528482152782168070', N'http://cdn5.lizhi.fm/audio_cover/2016/04/14/27829967795559175_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (2, N'20160406一周播报——孟小欣&Rick&Niki', N'2016-04-06', N'06''42''''', N'介绍: Hello~~新一期的《一周播报》如约和大家见面！最近的2.5天假期是怎么回事呢？收快递收到手软的时候有没有考虑过快递垃圾呢？今天孟小欣就与Rick和Niki一起聊一聊上一周的消息~~了解详情，快快来戳哦~~（´◔౪◔）', N'http://www.lizhi.fm/201106/2526993263712343046', N'http://cdn5.lizhi.fm/audio_cover/2016/04/06/27643798137416967_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (3, N'20160330一周播报——孟小欣 & Niki & Rick', N'2016-03-30', N'10''40''''', N'介绍: Hello~~新的学期，孟小欣又带着《一周播报》和大家相见了，不同的是，这里又多了两种炒鸡好听的声音~~确定不戳进来听听？(>ω<)问题疫苗事件、博尔特退役……我们一起了解一下吧！(•̀ᴗ•́)', N'http://www.lizhi.fm/201106/2525665543293291526', N'http://cdn5.lizhi.fm/audio_cover/2016/03/30/27477832277556487_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (7, N'20160413上下五千年 之 中国神话——主播帝小皓&逍遥云鹤', N'2016-04-13', N'32''10''''', N'介绍: 新的学期，上下五千年震撼强势回归，不同内容，同样的幽默。让我们一起，感受中华传统的魅力。
中国神话反映了古代人们对自然现象及社会生活的原始幻想，并通过超自然的形象和幻想的形式来表现的故事和传说，是“通过人民的幻想用一种不自觉的艺术方式加工的自然和社会形式本身”。本期的上下五千年，帝小皓，逍遥云鹤，带您领略中国神话的神奇！', N'http://www.lizhi.fm/201106/2528287680956976134', N'http://cdn5.lizhi.fm/audio_cover/2016/04/13/27805650226322311_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (8, N'20160413一周播报——主播孟小欣&Niki&Rick', N'2016-04-13', N'07''30''''', N'介绍: Hello~主播孟小欣、Rick、Niki在这喧嚣的风儿中如约而至~
直到莫名出现的四月飞霜【阵亡_(:3」∠)_】
今天我们聊一聊最近的妖风还有令人激动的五一放假的消息……（´◔౪◔）让我们窝在温暖的地方和三只主播一起在节目中期待下一个小长假吧~~快来戳哦｡◕‿◕｡', N'http://www.lizhi.fm/201106/2528287156970962438', N'http://cdn5.lizhi.fm/audio_cover/2016/04/13/27805535603100295_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (36, N'20151208心情在路上——主播垚垚&晓青', N'2015-12-08', N'12''00''''', N'介绍: “最近天气真的很冷啊(＞﹏＜)”
“其实长春还不是最冷的地方吖(ﾟｰﾟ)”
“不是吧(╯﹏╰)”
“当然咯，今天就带你去看看我们国家的最北——漠河￣O￣)ノ”', N'http://www.lizhi.fm/201106/2504729456769261062', N'http://cdn5.lizhi.fm/audio_cover/2015/12/08/24860902262386439_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (78, N'20151118雨见——主播格子', N'2015-11-18', N'12''47''''', N'介绍: 哈喽！大家好，我是新主播格子。
  水太蓝，所以想念漫出地平线。
  风都留在树林里，所以叶子喜欢唱情歌。
  阳光打磨鹅卵石，所以记忆越来越沉淀。
  雨水想看爱人一眼，所以奋不顾身落到伞边。
  这里是雨见，亦是你的所见。本期让我们一起走进张小娴的世界，与她一起体味爱情的美好，感悟人生的悲欢离合，在故事里看到最真实的自己。', N'http://www.lizhi.fm/201106/2501007442404848646', N'http://cdn5.lizhi.fm/audio_cover/2015/11/18/24395704690718727_320x320.jpg', NULL)
GO
print 'Processed 100 total records'
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (164, N'20150930一周播报——主播孟小欣', N'2015-09-30', N'07''36''''', N'介绍: 十一长假可算是被大家盼来了，今天可是十一前的最后一期节目喽，一起和孟小欣走进今天的节目吧，我们十一后再见喽~~
PS：大家节日快乐哈~~~么么哒~~', N'http://www.lizhi.fm/201106/23257291724820614', N'http://cdn5.lizhi.fm/audio_cover/2015/09/30/23257335687838599_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (185, N'20150923一周播报——主播孟小欣', N'2015-09-23', N'08''30''''', N'介绍: Hello，听众朋友们，孟小欣携新一期《一周播报》和大家见面了，上一周又有哪些新鲜有趣的新闻呢，快来了解一下吧~~~
PS：和15级的学弟学妹们见面啦，内心还是有点小激动呢~~未来我们一起加油吧！！！', N'http://www.lizhi.fm/201106/23095031349403398', N'http://cdn5.lizhi.fm/audio_cover/2015/09/23/23095138126069895_320x320.jpg', NULL)
GO
print 'Processed 200 total records'
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (202, N'20150916一周播报——主播孟小欣', N'2015-09-16', N'09''51''''', N'介绍: Hello！又是新的一周，刚从体测中死里逃生的孟小欣按时给大家送新闻了！还请大家笑纳哦~~
PS:广播站纳新正式开始了！！！孟小欣要成为学姐喽~~学弟学妹们快来', N'http://www.lizhi.fm/201106/22934663981999366', N'http://cdn5.lizhi.fm/audio_cover/2015/09/16/22934849409229959_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (219, N'20150909一周播报——主播孟小欣', N'2015-09-09', N'09''53''''', N'介绍: 新学期，《一周播报》又和大家见面了，最近又有哪些新闻热点呢？一起和孟小欣听听吧！
Ps:广播站的纳新快要开始了，感兴趣的童鞋们快快报名！我们在这等你呦~~~', N'http://www.lizhi.fm/201106/22748173012489094', N'http://cdn5.lizhi.fm/audio_cover/2015/09/08/22748234422297607_320x320.jpg', NULL)
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (419, N'20150423你好，旧时光', N'2015-04-23', N'13''44''''', N'介绍: 时间匆匆流逝，90也不再是最年轻的一代。本是盼着长大，可长大后又觉着缺少一点什么。是什么呢？大概是那些旧时光吧......旧时光里总有那么一些人，一些事，一些经历让我们难以忘怀，对于别人来说，那或许微不足道，但于我们却是整个记忆的美好。
我想青春就是用来纪念的吧，就让我用声音带您回到那个青涩的年代，回味懵懂的美好。', N'http://www.lizhi.fm/201106/19526272693176710', N'http://cdn5.lizhi.fm/audio_cover/2015/04/22/19526290912076807_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (441, N'20150417x movie', N'2015-04-17', N'08''30''''', N'介绍: Missing you , my dear audiences, i am your friend jessica.
This week i will introduce the film divergent to you.
Love you love moive,see you each Friday~', N'http://www.lizhi.fm/201106/19410689486696710', N'http://cdn5.lizhi.fm/audio_cover/2015/04/17/19410705826239623_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (453, N'20150413且听书吟', N'2015-04-13', N'11''11''''', N'介绍: “每个人心中所希望的与最终所抵达的都会有一段距离，这才是生活。”

也许你对樱桃清新微甜的味道了然于心，但属于生活末梢的滋味，你的味蕾是否有试着去辨别珍惜呢？the taste of cherry ,感受来自旅途最美的生活。', N'http://www.lizhi.fm/201106/19314555770756870', N'http://cdn5.lizhi.fm/audio_cover/2015/04/13/19314576405482759_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (508, N'20150323一周播报', N'2015-03-23', N'11''32''''', N'介绍: 中国足球有希望啦，看教育部如何改革为国足；
新疆杏花都开放啦，坐专列车观赏最美的春天；
两会终于开完啦，奇葩提案吓汗你~
东师之声最认真的新闻，最后一期，不说想念，欢脱到底！', N'http://www.lizhi.fm/201106/18815516272658694', N'http://cdn5.lizhi.fm/audio_cover/2015/03/23/18815537980883975_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (509, N'20150323一周播报', N'2015-03-23', N'11''32''''', N'介绍: 中国足球有希望啦，看教育部如何改革为国足；
新疆杏花都开放啦，坐专列车观赏最美的春天；
两会终于开完啦，奇葩提案吓汗你~
东师之声最认真的新闻，最后一期，不说想念，欢脱到底！', N'http://www.lizhi.fm/201106/18815516272658694', N'http://cdn5.lizhi.fm/audio_cover/2015/03/23/18815537980883975_320x320.jpg', NULL)
GO
print 'Processed 500 total records'
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (536, N'20141216主播说天气', N'2014-12-16', N'01''14''''', N'介绍: 亲爱的小伙伴们，想知道明天的出行须知吗?想听到不一样的天气预报吗?
让新主播宫宫带给你不一样的主播说天气~希望给大家带来好心情！', N'http://www.lizhi.fm/201106/16558876567416198', N'http://cdn5.lizhi.fm/audio_cover/2014/12/15/16558878948204551_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (547, N'20141212娱乐巴士', N'2014-12-12', N'11''25''''', N'介绍: 江山代有才人出，各领风骚数百年。长江后浪推前浪，前浪死在沙滩上！
娱乐巴士——学妹来啦~~~', N'http://www.lizhi.fm/201106/16487853377690374', N'http://cdn5.lizhi.fm/audio_cover/2014/12/12/16487867570560135_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (559, N'20141209 主播说天气', N'2014-12-09', N'01''14''''', N'介绍: 亲爱的小伙伴们，想知道明天的出行须知吗?想听到不一样的天气预报吗?
让新主播宫宫带给你不一样的主播说天气~希望给大家带来好心情！', N'http://www.lizhi.fm/201106/16398288813777030', N'http://cdn5.lizhi.fm/audio_cover/2014/12/09/16398290961296263_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (570, N'主播说天气', N'2014-12-05', N'01''41''''', N'介绍: 和大家一起分享当天的天气情况
主播：默默
日期：20141205，周五
天气情况：阵雪，-18 - -12', N'http://www.lizhi.fm/201106/16325565085410054', N'http://cdn5.lizhi.fm/audio_cover/2014/12/05/16325568306647431_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (582, N'20141202 主播说天气', N'2014-12-02', N'01''45''''', N'介绍: 亲爱的小伙伴们，想知道明天的出行须知吗?想听到不一样的天气预报吗?
让新主播宫宫带给你不一样的主播说天气~希望给大家带来好心情！', N'http://www.lizhi.fm/201106/16233537894955654', N'http://cdn5.lizhi.fm/audio_cover/2014/12/01/16233541115919367_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (583, N'20141202 新闻速递', N'2014-12-02', N'03''30''''', N'介绍: 要点前瞻：
1.习近平出席中央外事工作会议并发表重要讲话
2.未来高考录取不分批次按专业
3.围棋大师吴清源在日本逝世 享年100岁
4.《笙箫默》原作者称乐视侵权:版权已过期
5.埃及法院判穆巴拉克无罪 涉/谋杀/示威者罪/不成立', N'http://www.lizhi.fm/201106/16233443942544390', N'http://cdn5.lizhi.fm/audio_cover/2014/12/01/16233448774358919_320x320.jpg', NULL)
INSERT [dbo].[ShowInfo] ([ID], [ShowTitle], [CreateTime], [ShowTime], [Intro], [HtmlUrl], [ImgUrl], [Remarks]) VALUES (595, N'20141125天气预报', N'2014-11-26', N'01''14''''', N'介绍: 亲爱的小伙伴们，想知道明天的出行须知吗?想听到不一样的天气预报吗?
让新主播宫宫带给你不一样的主播说天气~希望给大家带来好心情！', N'http://www.lizhi.fm/201106/16113269415316998', N'http://cdn5.lizhi.fm/audio_cover/2014/11/26/16113271025764231_320x320.jpg', NULL)
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[ShowInfo] OFF
