@{
    ViewBag.Title = "Index";
}
<!-- tab panes -->
<div id="prod_wrapper">
    <div id="panes">
        <div>
            <img src="../../Content/img/demo/1.jpg" alt="">
            <h1>
                Welcome to our site</h1>
            <p>
                Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
                nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat
                gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut
                vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
            </p>
            <p style="text-align: right; margin-right: 16px">
                <a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
        </div>
        <div>
            <img src="../../Content/img/demo/2.jpg" alt="">
            <h2>
                Meet Our Team</h2>
            <p>
                Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
                nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat
                gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut
                vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
            </p>
            <p style="text-align: right; margin-right: 16px">
                <a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
        </div>
        <div>
            <img src="../../Content/img/demo/3.jpg" alt="">
            <h2>
                Mauris elementum</h2>
            <p>
                Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
                nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat
                gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut
                vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
            </p>
            <p style="text-align: right; margin-right: 16px">
                <a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
        </div>
        <div>
            <img src="../../Content/img/demo/4.jpg" alt="">
            <h2>
                Nam tempor nibh</h2>
            <p>
                Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
                nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat
                gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut
                vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
            </p>
            <p style="text-align: right; margin-right: 16px">
                <a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
        </div>
        <div>
            <img src="../../Content/img/demo/5.jpg" alt="">
            <h2>
                Supercar</h2>
            <p>
                Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
                nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat
                gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut
                vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
            </p>
            <p style="text-align: right; margin-right: 16px">
                <a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
        </div>
    </div>
    <!-- END tab panes -->
    <div style="clear: both">
    </div>
    <!-- navigator -->
    <div id="prod_nav">
        <ul>
            <li><a href="#1">
                <img src="../../Content/img/demo/1.jpg" width="160" alt=""><strong>展示节目1</strong>
                21:20:19</a></li>
            <li><a href="#2">
                <img src="../../Content/img/demo/2.jpg" width="160" alt=""><strong>展示节目1</strong>
                21:20:19</a></li>
            <li><a href="#3">
                <img src="../../Content/img/demo/3.jpg" width="160" alt=""><strong>展示节目1</strong>21:20:19</a></li>
            <li><a href="#4">
                <img src="../../Content/img/demo/4.jpg" width="160" alt=""><strong>展示节目1</strong>
                21:20:19</a></li>
            <li><a href="#5">
                <img src="../../Content/img/demo/5.jpg" width="160" alt=""><strong>展示节目1</strong>21:20:19</a></li>
        </ul>
    </div>
    <!-- END navigator -->
</div>
<!-- END prod wrapper -->
<div style="clear: both">
</div>
<div class="one-third">
    <h2>
        Business Solutions</h2>
    <p>
        Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
        nibh a purus aliquam et adipiscing elit gravida.</p>
    <p style="text-align: right; margin-right: 15px">
        <a href="#" class="button_small">Find out more</a></p>
</div>
<div class="one-third">
    <h2>
        Become a Partner</h2>
    <p>
        Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
        nibh a purus aliquam et adipiscing elit gravida.</p>
    <p style="text-align: right; margin-right: 15px">
        <a href="#" class="button_small">Contact Us Today</a></p>
</div>
<div class="one-third last">
    <h2>
        Latest News</h2>
    <p>
        Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor
        nibh a purus aliquam et adipiscing elit gravida.</p>
    <p style="text-align: right; margin-right: 15px">
        <a href="#" class="button_small">Read Article</a></p>
</div>
<div style="clear: both">
</div>
<div class="box_highlight" style="margin-top: 40px">
    <h2 style="text-align: center">
        Some kind of sales pitch goes here!</h2>
</div>
<div style="clear: both; height: 20px">
</div>
