@{
    ViewBag.Title = "Index";
}
<!--介绍-->
<div class="about" id="about">
    <div class="container">
        <div class="title">
            <h3>
                介绍</h3>
            <p>
                东北师范大学校园广播站是在学校党委直接领导、学校团委具体指导下，协助校团委宣传部进行校园广播宣传的学生广播团队。广播站作为一个引导舆论方向，宣传上级政策、服务校园文化生活的机构，不断的充实壮大，在学校发挥着日益重大的作用。不但使学校的有关政策得到及时有效的传达，为学校的教育教学活动提供了方便，同时也充实了学生的业余生活，锻炼了学生的能力。
            </p>
        </div>
        <div class="about-grids">
            <div class="col-md-6 about-info  wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible;
                -webkit-animation-delay: 0.5s;">
                <h4>
                    广播站一直以来倡导“家”文化</h4>
                <p>
                    力求让每个成员都能有家的归属感和建设家的使命感，努力建设更好的广播站。</p>
                <ul>
                    <li><a href="#">秘书处:信息传递，表格制作，文件管理，财务管理等工作。</a></li>
                    <li><a href="#">外联部:活动的外联事宜寻求对外合作，提供活动保障。</a></li>
                    <li><a href="#">创意采编部:平面及电子宣传品制作，对外形象展示及后期整理工作。</a></li>
                    <li><a href="#">信息技术部:网络平台运营、日常节目推送和网络宣传工作。</a></li>
                </ul>
            </div>
            <div class="col-md-6 about-info  wow fadeInRight animated" data-wow-delay="0.5s"
                style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <img src="../../Content/images/img1.jpg" alt="" />
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<!--//介绍-->
<!--products-->
<div class="features" id="products">
    <div class="container">
        <div class="title">
            <h3>
                节目单
            </h3>
            <p>
                我们有着丰富多彩 丰富多彩  丰富多彩  丰富多彩  丰富多彩的节目
            </p>
        </div>
        <div class="features-info">
            <div class="col-md-4 features-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
                -webkit-animation-delay: .5s;">
                <figure class="effect-bubba">
                    <img src="../../Content/images/img2.jpg" alt="" />
                    <figcaption>
                        <h4>
                            岁月留声</h4>
                        <p>
                            In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 features-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
                -webkit-animation-delay: .5s;">
                <figure class="effect-bubba">
                    <img src="../../Content/images/img7.jpg" alt="" />
                    <figcaption>
                        <h4>
                            一周播报</h4>
                        <p>
                            In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 features-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
                -webkit-animation-delay: .5s;">
                <figure class="effect-bubba">
                    <img src="../../Content/images/img4.jpg" alt="" />
                    <figcaption>
                        <h4>
                            开心开心</h4>
                        <p>
                            In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 features-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
                -webkit-animation-delay: .5s;">
                <figure class="effect-bubba">
                    <img src="../../Content/images/img5.jpg" alt="" />
                    <figcaption>
                        <h4>
                            睡觉睡觉</h4>
                        <p>
                            In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 features-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
                -webkit-animation-delay: .5s;">
                <figure class="effect-bubba">
                    <img src="../../Content/images/img6.jpg" alt="" />
                    <figcaption>
                        <h4>
                            继续睡觉</h4>
                        <p>
                            In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 features-grids wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
                -webkit-animation-delay: .5s;">
                <figure class="effect-bubba">
                    <img src="../../Content/images/img3.jpg" alt="" />
                    <figcaption>
                        <h4>
                            睡着了</h4>
                        <p>
                            In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<!--//products-->
<!--services-->
<div class="services" id="services">
    <div class="container">
        <div class="title">
            <h3>
                Our Services</h3>
            <p>
                A wonderful designs has takenpossession but also the leap into electronic pesetting
                industry It was popularised in the 1960s with the release
            </p>
        </div>
        <div class="service-grids">
            <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s"
                style="visibility: visible; -webkit-animation-delay: .5s;">
                <div class="srvc-img">
                    <img src="images/icon2.png" alt="" />
                </div>
                <h5>
                    Ultrices proin eget ipsum</h5>
                <p>
                    Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam
                </p>
            </div>
            <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s"
                style="visibility: visible; -webkit-animation-delay: .5s;">
                <div class="srvc-img">
                    <img src="images/icon3.png" alt="" />
                </div>
                <h5>
                    Ultrices proin eget ipsum</h5>
                <p>
                    Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam
                </p>
            </div>
            <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s"
                style="visibility: visible; -webkit-animation-delay: .5s;">
                <div class="srvc-img">
                    <img src="images/icon4.png" alt="" />
                </div>
                <h5>
                    Ultrices proin eget ipsum</h5>
                <p>
                    Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam
                </p>
            </div>
            <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s"
                style="visibility: visible; -webkit-animation-delay: .5s;">
                <div class="srvc-img">
                    <img src="images/icon5.png" alt="" />
                </div>
                <h5>
                    Ultrices proin eget ipsum</h5>
                <p>
                    Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam
                </p>
            </div>
            <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s"
                style="visibility: visible; -webkit-animation-delay: .5s;">
                <div class="srvc-img">
                    <img src="images/icon6.png" alt="" />
                </div>
                <h5>
                    Ultrices proin eget ipsum</h5>
                <p>
                    Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam
                </p>
            </div>
            <div class="col-md-4 srvc-grids-info wow bounceIn animated" data-wow-delay=".5s"
                style="visibility: visible; -webkit-animation-delay: .5s;">
                <div class="srvc-img">
                    <img src="images/icon7.png" alt="" />
                </div>
                <h5>
                    Ultrices proin eget ipsum</h5>
                <p>
                    Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam
                </p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<!--//services-->
<div class="slid">
    <div class="container">
        <div class="wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible;
            -webkit-animation-delay: .5s;">
            <h3>
                A wonderful designs has takenpossession but also the leap into electronic pesetting
                industry</h3>
        </div>
    </div>
</div>
<!--team-->
<div class="team" id="team">
    <div class="container">
        <div class="title">
            <h3>
                Meet Our Team</h3>
            <p>
                A wonderful designs has takenpossession but also the leap into electronic pesetting
                industry It was popularised in the 1960s with the release
            </p>
        </div>
        <!-- flex-slider -->
        <div class="work-bottom">
            <div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">
                    <ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -285px; display: block;">
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img8.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        MARK SIMMY</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img9.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        MARK SIMMY</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img10.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        ALAN SMITH</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img11.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        CAROL ADAMS</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img12.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        MARK SIMMY</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img13.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        MARK SIMMY</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img14.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        ALAN SMITH</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 285px;">
                            <div class="team-left">
                                <img src="images/img15.jpg" alt="">
                                <div class="team-bottom">
                                    <h4>
                                        CAROL ADAMS</h4>
                                    <p>
                                        Fusce et nibh eget odio cursus consectetur</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="nbs-flexisel-nav-left" style="top: 138px;">
                    </div>
                    <div class="nbs-flexisel-nav-right" style="top: 138px;">
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 2
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 3
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="js/jquery.flexisel.js"></script>
            <!-- //flex-slider -->
        </div>
    </div>
</div>
<!--//team-->
<!--contact-->
<div class="contact" id="contact">
    <div class="container">
        <div class="title">
            <h3>
                Contact Us</h3>
            <p>
                A wonderful designs has takenpossession but also the leap into electronic pesetting
                industry It was popularised in the 1960s with the release
            </p>
        </div>
        <div class="contact-grids">
            <div class="col-md-4 address wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible;
                -webkit-animation-delay: 0.5s;">
                <h4>
                    Contact info</h4>
                <p class="cnt-p">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem
                    Ipsum passages sed do
                </p>
                <p>
                    Eiusmod Tempor inc</p>
                <p>
                    9560 St Dolor,London</p>
                <p>
                    Telephone : +2 800 544 6035</p>
                <p>
                    FAX : +1 800 889 4444</p>
                <p>
                    Email : <a href="mailto:example@mail.com">mail@example.com</a></p>
            </div>
            <div class="col-md-8 contact-form wow fadeInRight animated" data-wow-delay="0.5s"
                style="visibility: visible; -webkit-animation-delay: 0.5s;">
                <h4>
                    Contact form</h4>
                <form>
                <div class="col-md-6 contact-form-info">
                    <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"
                        required="">
                    <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"
                        required="">
                    <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}"
                        required="">
                </div>
                <div class="col-md-6 contact-form-info">
                    <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}"
                        required="">Message...</textarea>
                </div>
                <div class="clearfix">
                </div>
                <input type="submit" value="Submit">
                </form>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1433744055746">
        </iframe>
    </div>
</div>
<!--//contact-->
<!--footer-->
<div class="footer">
    <div class="container">
        <p class="wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible;
            -webkit-animation-delay: .5s;">
            Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        <div class="clearfix">
        </div>
    </div>
</div>
<!--//footer-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;">
</span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.js"> </script>
